.family {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
}


.block {
    height: 500px;
    background-image: url(patajamon.webp);
    background-size: cover;
}

.header {
    padding: 10px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    align-items: center;
    background-color: #ffe8d6;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.title {
    margin-left: 150px; 
    margin-top: 125px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.titles {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 37px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    color:rgb(196, 196, 196);
    cursor: pointer;
    text-decoration-line: underline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding:10px 20px;
    border: 2px solid #cb997e;
    border-radius: 20px;
    color: #cb997e;
    font-weight: bold;
    text-decoration: none;
}

.img-text {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-right:150px;
    margin-top: 50px;
}

.orange-block {
    background-color: #cb997e;
    background-size: cover;
    height: 200px;
    margin-left: 150px;
    margin-right:150px;
    border-radius: 50px;
    padding-bottom: 20px;
}

.email{
    align-items: center;
    border-radius: 50px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #cb997e;
}

.enviarEmail {
    align-items: center ;
    border-radius: 50px;
    background-color: #ffe8d6;
    
}

.img-block {
    display: flex;
    flex-direction: row;
    margin-left: 135px;
    margin-right: 135px;
}

.img-background {
    margin-left: 30px;
    margin-bottom: 20px;
    width: 100%;
    height: 500px;
    background-size: cover;
}

.about-author{
    display: flex;
    flex-direction: row;
    background-color: #cb997e;
    background-size: cover;
    height: 200px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.about-author-inf{
    margin-left: 200px;
    background-size: cover;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    align-items: center;
    background-color: #ffe8d6;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}